body {
  background-color: rgb(44, 44, 44);
  font-family: 'Roboto Mono', monospace;
  color: #f5f5f5;
  line-height: 25px;
  letter-spacing: 1.5px;
}

div {
  text-align: center;
}

.return {
  margin-top: 55px;
}

a {
  text-decoration: none !important;
  color: #f5f5f5;
  letter-spacing: 0.5px;
}

.sign {
  letter-spacing: 1.5px;
}

h1 {
  text-align: center;
  margin-top: 15%;
}

p {
  text-align: center;
}